*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "inria";
    src: url("./assets/InriaSans-Regular.ttf");
}
img{
    width: 100%;
}
.okay{
    display: none;
}
/*navbar*/
nav{
    display: flex;
    width: 95.8%;
    padding: 1.8%;
    font-size: medium;
    font-weight: 600;
}
.cart{
    margin-left: 0px;
    position: relative;
    right: 24px;
}
.navlogo{
    width: 4%;
    padding: 1.5% 0% 0% 2%;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin: 2%;
}
.nav-first{
    width: 48%;
    margin: 2% 2% 2% 0%;
    gap: 3%;
    padding-left: 21%;
}
.nav-why-grates{
    width: 25%;
    padding-left: 1%;
}
.login-button{
    width: 22%;
    margin: 2% 2% 2% 4%;
    gap: 2%;
}
.button{
    width: 70%;
    position: relative;
    bottom: 4px;
}
nav  button{
   width: 100%;
   height: 40px;
   border-radius: 20px;
   border: transparent;
   color: white;
   background-color: black;
   font-weight: 600;
}
.login{
    padding-top: 2%;
}

/*header-first-section*/

.header-first-section{
    display: flex;
}
.footerlinks{
    display: flex;
}
.footerLinksFooterforTab{
    display: flex;
}
.header-text{
    width: 35%;
    padding: 1.5% 0% 0% 4%;
    position: relative;
    top: 200px;
    font-family: "inria";
}
.why-qrates{
    border: 2px solid black;
    width: 24%;
    text-align: center;
    padding: 8px 2px 8px 2px;
    margin-bottom:35px;
    font-weight: bold;
    font-size: small;
}
.iconForMobil{
    display: none;
}
.arrow-down{
    font-size: 9px;
    font-weight: 700;
    position: relative;
    left: 9px;
    bottom: 3px;
}
.header-text h1{
    font-size: 250%;
}
.header-paragraph{
    font-weight: bold;
    margin-top: 5%;
    font-size: larger;
}
.first-img{
    width: 49%;
    position: relative;
    left: 3%;
    top: 100px;
    border: 2px solid black;
    transform: rotate(7deg);
}
.first-img img{
    display: block;
}
.second-img{
    width: 43%;
    position: relative;
    left: 10%;
    bottom: 50px;
    transform: rotate(-6deg);
    border: 2px solid black;
    z-index: 99;
}
.second-img img{
    display: block; 
}
.header-second-section{
    display: flex;
    gap: 20%;
}
.sticker{
    position: relative;
    top: 220px;
   
}
.line-last-header-div{
    height: 1px;
    background-color: black;
    position: relative;
    bottom: 50px;
}

/* main*/
.first-paragraph{
    text-align: center;
    padding: 5% 2% 8% 2%;
    font-weight: bold;
}

.main-first-two-in-one-container{
    display: flex;
}
.crowdfunding{
    border: 2px solid black;
    background-color: yellow;
    width: 50%;
    text-align: center;
}
.press-and-sell{
    border: 2px solid black;
    background-color: #81836c;
    width: 50%;
    text-align: center;
}
.no-risk{
    padding: 2% 1% 2% 1%;
    width: 26%;
    border: 2px solid black;
    background-color: white;
    position: relative;
    left: 36%;
    margin: 15% 0% 5% 0%;
    font-size: small;
    text-align: center;
    font-weight: bold;
}
.crowdfunding-h2{
    font-size: 180%;
    margin-bottom: 5%;
}
.crowdfunding-paragragph{
    line-height: 160%;
}
.crowndfunding-img{
    width: 60%;
    margin: 6% 0% 12% 0%;
    position: relative;
    left: 20%;
}
.crowdfunding-button{
    width: 35%;
    height: 38px;
    color: white;
    background-color: black;
    border-radius: 30px;
    border: transparent;
    margin-bottom: 0%;
    position: relative;
    top: 15px;
}

.fa-chevron-down{
    position: relative;
    right: -8px;
}
.get-into-it{
    padding: 2% 1% 2% 1%;
    width: 19%;
    border: 2px solid black;
    background-color: white;
    position: relative;
    left: 36%;
    margin: 15% 0% 5% 0%;
    font-size: small;
    text-align: center;
    font-weight: bold;
}
.press-and-sell-h2{
    font-size: 180%;
    margin-bottom: 5%;
}
.press-and-sell-paragragph{
    line-height: 160%;
}
.press-and-sell-img{
    width: 80%;
    margin: 8% 0% 12% 0%;
    position: relative;
    left: 13%;
}
.press-and-sell-button{
    width: 35%;
    height: 38px;
    color: white;
    background-color: black;
    border-radius: 30px;
    border: transparent;
    margin-bottom: 16%;
}

/*div-under-the-first-two-in-one-container*/

.div-under-the-first-two-in-one-container{
    padding: 3% 2% 5% 2%;
    font-weight: bold;
    background-color: black;
    color: white;
}
.under-div-paragragh{
    padding:2% 0% 0% 5% ;
    line-height: 180%;
}
.div-under-the-first-two-in-one-container a{
    position: relative;
    left: 75%;
    color: white;
    bottom: 24px;
}

/*third main section*/

.main-second-container{
    display: flex;
}
.second-container-first-div{
    width: 50%;
    text-align: center;
    margin: 18% 0% 0% 0%;
}
.services{
    border: 3px solid black;
    width: 24%;
    position: relative;
    left: 37%;
    font-weight: bolder;
    padding: 7px 4px  7px 4px;
    margin-top: 5%;
    margin-bottom: 4%; 
}
.second-container-first-div-h1{
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
    font-size: 260%;
}

.Two-men-img{
    width: 55%;
    margin: 15% 2% 15% 2%;
    transform: rotate(-10deg);
    position: relative;
    left: 24.2%;
    border: 2px solid black;
}
.Two-men-img img{
    display: block;
}
.second-container-first-div-paragraph{
    font-size: 118%;
    padding: 5% 2% 8% 2%;
    font-weight: bold;
}

.second-container-first-div button{
    background-color: white;
    color: black;
    width: 37%;
    border-radius: 44px;
    height: 48px;
    font-weight: bold;
    font-size: medium;
    margin-top: 1%;
    margin-bottom: 2%;
    border: 2px solid black;
}
/*ends here*/

/*accordion*/

.second-container-accordion{
    width: 46%;
    margin-top: 11%;
    margin-bottom: 12%;
}

.accordion{
    width: 95%;
    font-size: larger;
}

.accordion-section {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .accordion-title {
    background-color: #f9f9f9;
    padding: 40px 30px 40px 30px;
    cursor: pointer;
    user-select: none;
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #81836c;
    border: 1px solid black;
  }
  
  .accordion-content.show {
      padding: 10px;
      max-height: 300px; /* Adjust the max height as needed */
  }
  .accordion h1{
    background-color: #000000;
    color: white;
    width: 94%;
    font-size: 130%;
    padding: 4% 0% 4% 6%;
  }
  .accordion a{
    color: black;
    margin-top: 5px;
    font-weight: bolder;
    text-decoration: underline;
  }
  .accordion p{
    margin-bottom: 7px;
  }

  
/*accordion ends here*/

/*main last section*/
.main-third-container{
    display: none;
    text-align: center;
    padding-top: 12%;

}
.main-third-container-first-div{
    background-color: #000000;
    color: white;
    width: 50%;
}

.mainLastOneImg{
    width: 90%;
}
.retail-network{
    background-color: white;
    color: black;
    width: 24%;
    position: relative;
    left: 37%;
    border: 3px solid black;
    padding: 7px 4px  7px 4px;
    font-weight: bolder;
    margin-top: 15%;
    margin-bottom: 4%;   
}

.main-third-container-first-div-h2{
    font-size: 250%;
    margin-bottom: 4%;
    padding-top: 1%;   
}
.main-third-container-first-div-paragraph{
    font-size: 120%;
}


.main-third-container-second-div{
    width: 50%;
    text-align: center;
    background-color:#e280ff;
}

.third-container-second-div-img{
    border: 2px solid black;
    margin: 10% 5% 0% 5%;
    margin-bottom: 15%;
}
.third-container-second-div-img img {
    display: block;
}

.CUSTOMER{
    background-color: white;
    color: black;
    width: 29%;
    position: relative;
    left: 37%;
    border: 3px solid black;
    padding: 7px 4px  7px 4px;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 4%;    
}

.main-third-container-second-div-h2{
    font-size: 250%;
    margin-bottom: 4%;
    padding-top: 1%;   
}



/*main last section ends here*/

/*growing community section*/
.growing-community{
    text-align: center;
}

.community{
    color: black;
    width: 9%;
    position: relative;
    left: 45%;
    border: 2px solid black;
    padding: 7px 4px  7px 4px;
    margin-top: 5%;
    margin-bottom: 2%; 
    font-size: larger;
}

.growing-community-h2{
    font-size: 180%;
    margin-bottom: 2%;
}
.growing-community-paragraph{
    font-weight: bold;
    line-height: 150%;
}

.growing-community button{
    width: 18%;
    border-radius: 44px;
    height: 48px;
    font-size: small;
    margin-top: 4%;
    margin-bottom: 6%;
    background-color: white; 
    border: 2px solid#000000;
} 
/*growing community section ends here*/


/*grid-container*/
.grid-container{
    display: grid;
    grid-template-columns: repeat( 10, 1fr);
    grid-template-rows:( 2, 200px);
}
.grid-item1{
    grid-area: 1/1/3/5;
    padding-top: 34%;
    background-color: #81836c;
}
.grid-item2{
    grid-area: 1/5/1/8;
}
.grid-item3{
    grid-area: 1/8/1/-1;
    background-color: yellow;
}
.grid-item4{
    grid-area: 2/5/3/8;
}
.grid-item5{
    grid-area: 2/8/3/-1;
    background-image: url(./images/qrates-imgs\ \(7\).jpg);
    background-size: cover;
}
.grid-item img{
    display: block;
}
.grid-item{
    border: 1.5px solid black;
}
/*grid-container ends here*/

/*links*/
.links a{
   color: black; 
   margin-left:0px;
   font-weight: bold;
}
.links{
    display: flex;
    padding: 5% 0% 5% 0%;
    justify-content: space-between;
}
.links span{
    position: relative;
    right: 40px;
}
/*links ends here*/

/*main-fourth-container*/
.main-fourth-container{
    display: flex;
}
.first-div{
    background-color: yellow;
    width: 50%;
    border: 2px solid black;
}
.second-div{
    width: 50%;
    border: 2px solid black;
}
.second-div img{
    display: block;
}
.artist-on-qrates{
    border: 2px solid black;
    width: 22%;
    background-color: white;
    margin: 4% 0% 0% 6%;
    padding: 2%;
    font-size: 13px;
}
aside{
    margin-top: 45%;
    font-size: large;
    font-weight: bold;
    padding-left: 5%;
}
.sol{
    color: black;
}
.numbers{
    position: relative;
    top: 34%;
    display: flex;
    margin: 0% 0% 0% 6%;
}
.numbers p{
    margin: 1%;
}
.one{
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 4px;
    border-radius: 24px;
    border: 2px solid black;
}
.two{
    border: 2px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 4px;
    border-radius: 24px;
}
/*main-fourth-container ens here*/

/* footer*/
footer{
    background-color: black;
    padding: 8% 0%;
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
    padding: 2px;
    list-style: none;
}
.footerlinks{
    display: flex;
    justify-content: space-around;
}

.footer-logo{
    width:30%;
    margin-left: 7%;
    padding-top: 3%;
}
.footer-social-icon{
    padding: 9% 3% 0% 0%;
    width: 46%;
}
.footer-last-line{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
.icons{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.fab {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    margin: 2px;
}
.footerLastDiv{
    display: flex;
    justify-content: space-between;
}
/*footer ends here*/

/*under-fourth-two-in-one-container*/
.under-fourth-two-in-one-container{
    background-color: black;
    color: white;
    text-align: center;
    padding: 6% 0% 6% 0%;
}
.yl-studio{
    border: 2px solid white;
    width: 10%;
    padding: 1%;
    position: relative;
    left: 45%;
}
.under-fourth-two-in-one-container h2{
    padding: 0% 0% 2% 0%;
}
.under-fourth-two-in-one-container p{
    margin-bottom: 2%;
}
.under-fourth-two-in-one-container button{
    width: 20%;
    background-color: yellow;
    margin-top: 6%;
    height: 30px;
    padding: 2% 1% 3% 1%;
    border-radius: 40px;
    border: transparent;
    font-weight: 600;
}
.main-icons{
    width: 30%;
    display: flex;
    position: relative;
    left: 35%;
    margin-top: 2%;
}
.main-icon-one{
    background-color: darkcyan;
    z-index: 99;
}
.main-icon-two{
    background-color: khaki;
    border-radius: 70px;
    position: relative;
    right: 14px;
}
/*  small laptops  devices*/
@media (min-width: 768px) and (max-width: 1023px){
    .wrapper{
        display: block;
    }
}
/* large laptops  devices*/

@media (min-width: 1281px) and (max-width: 1440px){
    .iconForMobil{
        display: none;
    }
}

/* for tabs/ipads */
@media screen  and (min-width : 480px) and (max-width : 768px){
    nav{
        justify-content: space-between;
        display: flex;
    }
    .nav-first{
        display: none;
    }
    .login-button{
        display: none;
    }
/*     
    /*navbar*/
    /* nav{
        display: flex;
        width: 95.8%;
        padding: 1.8%;
        font-size: medium;
        font-weight: 600;
    }
    .cart{
        margin-left: 0px;
        position: relative;
        right: 24px;
    }
    .navlogo{
        width: 4%;
        padding: 1.5% 0% 0% 2%;
    }
    nav ul{
        display: flex;
    }
    nav li{
        list-style: none;
        margin: 2%;
    } */
    /* .nav-first{
        width: 48%;
        margin: 2% 2% 2% 0%;
        gap: 3%;
        padding-left: 21%;
    }
    .nav-why-grates{
        width: 25%;
        padding-left: 1%;
    }
    .login-button{
        width: 22%;
        margin: 2% 2% 2% 4%;
        gap: 2%;
    }
    .button{
        width: 70%;
        position: relative;
        bottom: 4px;
    } */
    /* nav  button{
       width: 100%;
       height: 40px;
       border-radius: 20px;
       border: transparent;
       color: white;
       background-color: black;
       font-weight: 600;
    }
    .login{
        padding-top: 2%;
    } */
    
    /*header-first-section*/
    
    .header-first-section{
        display: block;
        text-align: center;
    }
    .header-second-section{
        display: none;
    }
    .header-text{
        width: 100%;
        padding:0%;
        position: relative;
        top: 100px;
        display: none;
    }
    .why-qrates{
        display: none;
        border: 2px solid black;
        width: 24%;
        text-align: center;
        padding: 8px 2px 8px 2px;
        margin-bottom:35px;
        font-weight: bold;
        font-size: small;
    }
    .main-first-two-in-one-container{
        display:none;
    }
        /*accordion*/
    
    .second-container-accordion{
        width: 46%;
        margin-top: 11%;
        margin-bottom: 12%;
        display: none;
    }
    .tabHeaderImgs{
        display: flex;
        justify-content:center;
        margin-bottom:180px;
    }
    .first-img{
        width: 50%;
        top: 80px;
        border: 2px solid black;
        transform: rotate(10deg);
        margin-right: 20%;
    }
    .paraforTabView{
        display: block;
        font-size: 23px;
        margin: 1% 6%;
        font-weight: 600;
        line-height: 20px;
    }
    .paraforTabView br{
        display: none;
    }
    .okay{
        width: 20%;
        position: relative;
        top:220px;
        left: 13%;
        z-index: 9;
    }
    .iconForMobile{
        width: 25%;
    }
    .mobileSocialIconsForNav{
        display: flex;
        justify-content: space-between;
    }
    .buttonforTabview{
    display: block;
    text-align: center;
    }
    .buttonforTab1,
    .buttonforTab2{
        width: 94%;
        margin:1% 3%;
        border-radius: 30px;
        padding: 2% 1%;
    }
    .buttonforTab1{
        color: #000000;
        background-color: white;
    }
    .buttonforTab2{
        background-color: #000000;
        color: white;
    }
    #tabNavIcon{
     font-size: 30px;
    }
    .line-last-header-div{
        display: none;
    }
    .headingforTabView h1{
        padding: 0% 12%;
        margin: 0% 15%;
        font-size: 47px;
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000000;
    }
    .headingforTabView span{
        color: #000000;
    }
        /*div-under-the-first-two-in-one-container*/
    
    .div-under-the-first-two-in-one-container{
        padding: 4% 2% 5% 2%;
        font-weight: bold;
        background-color: black;
        color: white;
        font-size: 16px;
    }
    .div-under-the-first-two-in-one-container br{
        display: none;
    }
    .under-div-paragragh{
        padding:2% 0% 0% 5% ;
        line-height: 180%;
    }
    .div-under-the-first-two-in-one-container a{
        position: relative;
        left: 60%;
        color: white;
        bottom: 24px;
    }
    .main-second-container{
        display: block;
    }
    .second-container-first-div{
        width: 100%;
        text-align: center;
        margin: 18% 0% 0% 0%;
    }
    .services{
        border: 3px solid black;
        width: 24%;
        position: relative;
        left: 37%;
        font-weight: bolder;
        padding: 7px 4px  7px 4px;
        margin-top: 5%;
        margin-bottom: 4%; 
    }
    .second-container-first-div-h1{
        color: transparent;
        -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: #000000;
        font-size: 260%;
    }
    
    .Two-men-img{
        width: 55%;
        margin: 15% 2% 15% 2%;
        transform: rotate(-10deg);
        position: relative;
        left: 24.2%;
        border: 2px solid black;
    }
    .Two-men-img img{
        display: block;
    }
    .second-container-first-div-paragraph{
        font-size: 118%;
        padding: 5% 2% 8% 2%;
        font-weight: bold;
    }
    
    .second-container-first-div button{
        color: white;
        background-color: black;
        width: 37%;
        border-radius: 44px;
        height: 48px;
        font-weight: bold;
        font-size: medium;
        margin-top: 0%;
        margin-bottom: 4%;
        border: 2px solid black;
    }
    .growing-community button{
        width: 18%;
        border-radius: 44px;
        height: 48px;
        font-size: small;
        margin-top: 4%;
        margin-bottom: 6%;
        background-color: white; 
        border: 2px solid#000000;
    }
    .community{
        color: black;
        width: 9%;
        position: relative;
        left: 45%;
        border: 2px solid black;
        padding: 7px 4px  7px 4px;
        margin-top: 5%;
        margin-bottom: 2%; 
        font-size: larger;
        display: none;
    }
    .growing-community-h2{
        font-size: 180%;
        margin: 4% 0% 1% 0%;
    } 
    .links{
        display: none;
        padding: 5% 0% 5% 0%;
        justify-content: space-evenly;
    }
    .main-fourth-container{
        display: none;
    }
        /*under-fourth-two-in-one-container*/
    .under-fourth-two-in-one-container{
        background-color: black;
        color: white;
        text-align: center;
        padding: 6% 0% 6% 0%;
    }
    .yl-studio{
        border: 2px solid white;
        width: 15%;
        padding: 1.5% 1%;
        position: relative;
        left: 40%;
    }
    .under-fourth-two-in-one-container h2{
        padding: 2.5% 0%;
    }
    .under-fourth-two-in-one-container h2 br{
        display: none;
    }
    
    .main-icons{
        width: 40%;
        display: flex;
        position: relative;
        left: 33%;
        margin-top: 8%;
    }
    .main-icon-one{
        background-color: darkcyan;
        z-index: 99;
    }
    .main-icon-two{
        background-color: khaki;
        border-radius: 70px;
        position: relative;
        right: 14px;
    }  
   
    .under-fourth-two-in-one-container p{
        margin-bottom: 2%;
        font-size: 16px;
        word-spacing: 1px;
        line-height: 25px;
    }
    .under-fourth-two-in-one-container button{
        width: 95%;
        background-color: yellow;
        margin-top: 6%;
        height: 30px;
        padding: 2% 1% 3% 1%;
        border-radius: 40px;
        border: transparent;
        font-weight: 600;
    }
        /* footer*/
    footer{
        background-color: black;
        padding: 8% 0%;
        color: white;
    }
    footer a{
        color: white;
        text-decoration: none;
        padding: 2px;
        list-style: none;
    } 
    .footerSecondDiv,
    .footerFirstDiv,
    .footerFourthDiv,
    .footerThirdDiv{
        width: 50%;
    }
    .footerLinksFooterforTab a{
        line-height: 10px;
    }
    .footerlinks{
        display: block;
        justify-content: space-around;
    }
    .footerLinksFooterforTab{
        display: flex;
        margin-left: 4%;
    }
    .footerLinksFooterforTab2{
        margin-top: 4%;
    }
    .footer-last-line{
        display: block;
        justify-content: space-between;
        margin-top: 3%;
    }
    .footer-logo{
        width:85%;
        margin-left: 7%;
        padding-top: 3%;
    }
    .iconsforDesktop{
        display: none;
    }
    
    .footer-social-icon{
        padding: 9% 3% 0% 0%;
        width: 99%;
    }
    .footerLastDiv{
        display: flex;
        padding: 0% 3%;
    }
    .tdms{
        display: none;
    }
    .tdmsforTab{
        position: relative;
        top: 10px;
        left: 44.5%;
    }
    .icons{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 90px;
    } 
    .dropdownIcons{
        display: flex;
        justify-content: flex-start;
        margin: 10px 0px 30px 16px;
    } 
    /* .dropdownIcons a{
        width: 50px;
        margin-left: 3px;
        background-color: #000000;
        text-align: center;
        border-radius: 50%;
        font-size: 23px;
    } */
    .dropdownIcons a{
        width: 50px;
        height: 50px;
        margin-left: 3px;
        background-color: #000000;
        text-align: center;
        border-radius: 50%;
        /* font-size: 29%; */
    }
    .dropdownIcons .fab {
        background-color:transparent;
        color: white;
        padding:6px  3px 3px 3px;
        font-size:30px;
        margin: 2px;
    }
    .forMobileDropdown{
        position: absolute;
        width: 100%;
        background-color: white;
        z-index: 1;
        padding-bottom: 60px;
    }
    .dropdownButtons{
        display: block;
        margin-bottom: 12px;
    }
    .dropdownbutton1,
    .dropdownbutton2{
        width: 95%;
        margin-top: 10px;
        padding: 2% 1%;
        border-radius: 40px;
        margin: 2%;
        /* position: relative;
        left: 8%; */
    }
    .dropdownbutton1{
        background-color: #000000;
        color: #ffffff;
    }
    .dropdownbutton2{
        background-color: #ffffff;
        color: #000000;
    }
    .dropdownIcons{
        display: flex;
        justify-content: flex-start;
        margin: 10px 0px 30px 16px;
    } 
    @font-face {
        font-family: "qratesisBold";
        src: url("./assets/InriaSans-Bold.ttf");
    }
    #dropdownText1,
    #dropdownText2,
    #dropdownText3{
        width: 80%;
        font-weight: 600;
        font-size: 20px;
        font-family: "qratesisBold";
        padding: 5px 0px 5px 30px;
    }
    .forMobileDropdown .down{
        font-size: small;
        position: relative;
        right: 60%;
        padding-top: 20px;
    }
    .forMobileDropdown ul{
        background-color: white;
        list-style: none;
        border: transparent;
        padding-left: 30px;
    }
    .forMobileDropdown .accordion-content.show{
        border: transparent;
        padding: 0px;
    }
    .forMobileDropdown ul li a{
        color: #000000;
        text-decoration: none;
        margin: 16px 1px;
        font-size: 19px;
        font-weight: 600;
    }
    #dropdownText1{
        padding: 20px 0px 10px 30px;
        background-color: white;
    }
    .forMobileDropdown .accordion-content{
        border: -0px transparent;
    }
    #bars{
        z-index: 99;
    }
}
/* small mobile  devices*/
@media screen and (max-width: 480px) {
    .wrapper{    
        padding: 0%;
    }
    nav{
        justify-content: space-between;
        display: flex;
    }
    .nav-first{
        display: none;
    }
    .login-button{
        display: none;
    }
    /*header-first-section*/
    .header-first-section{
        display: block;
        text-align: center;
        font-family: "inria";
    }
    .mobileSocialIconsForNav{
        display: flex;
        justify-content: space-between;
        font-size: 10px;
    }
    .navlogo{
        width: 10%;
        padding: 2% 0% 0% 6%;
    }
    .header-second-section{
        display: none;
    }
    .header-text{
        width: 100%;
        padding:0%;
        position: relative;
        top: 100px;
        display: none;
    }
    .why-qrates{
        display: none;
    }
    .main-first-two-in-one-container{
        display:none;
    }
    
    .second-container-accordion{
        width: 46%;
        margin-top: 11%;
        margin-bottom: 12%;
        display: none;
    }
    .tabHeaderImgs{
        display: flex;
        justify-content:center;
        margin-bottom:80px;
    }
    .first-img{
        width: 80%;
        top: 28px;
        border: 2px solid black;
        transform: rotate(11deg);
        margin-right: 15%;
    }
    .paraforTabView{
        display: block;
        font-size: 21px;
        margin: 1% 6%;
        font-weight: 500;
        line-height: 25px;
    }
    .paraforTabView br{
        display: none;
    }
    .okay{
        width: 24%;
        position: relative;
        top:110px;
        left: 13%;
        z-index: 9;
    }
    .iconForMobile{
        width: 55%;
    }
    .forMobileDropdown{
        position: absolute;
        width: 100%;
        background-color: white;
        z-index: 1;
        padding-bottom: 60px;
    }
    .dropdownButtons{
        display: block;
        margin-bottom: 12px;
    }
    .dropdownbutton1,
    .dropdownbutton2{
        width: 82%;
        margin-top: 10px;
        padding: 5% 2%;
        border-radius: 40px;
        position: relative;
        left: 8%;
    }
    .dropdownbutton1{
        background-color: #000000;
        color: #ffffff;
    }
    .dropdownIcons{
        display: flex;
        justify-content: flex-start;
        margin: 10px 0px 30px 16px;
    } 
    .dropdownIcons a{
        width: 15%;
        margin-left: 5px;
        background-color: #000000;
        text-align: center;
        border-radius: 50%;
        font-size: 23px;
    }
    .dropdownIcons .fab {
        background-color:transparent;
        color: white;
        padding: 10px;
        font-size: 25px;
        margin: 2px;
    }
    @font-face {
        font-family: "qratesisBold";
        src: url("./assets/InriaSans-Bold.ttf");
    }
    #dropdownText1,
    #dropdownText2,
    #dropdownText3{
        width: 80%;
        font-weight: 600;
        font-size: 20px;
        font-family: "qratesisBold";
        padding: 5px 0px 5px 30px;
    }
    .forMobileDropdown .down{
        font-size: small;
        padding-top: 20px;
    }
    .forMobileDropdown ul{
        background-color: white;
        list-style: none;
        border: transparent;
        padding-left: 30px;
    }
    .forMobileDropdown .accordion-content.show{
        border: transparent;
        padding: 0px;
    }
    .forMobileDropdown ul li a{
        color: #000000;
        text-decoration: none;
        margin: 16px 1px;
        font-size: 19px;
        font-weight: 600;
    }
    #dropdownText1{
        padding: 20px 0px 10px 30px;
        background-color: white;
    }
    .forMobileDropdown .accordion-content{
        border: -0px transparent;
    }
    .mobileSocialIconsForNav .bars{
        z-index: 99;
        padding-right: 5%;
        font-size: 28px;
    }
    .mobileSocialIconsForNav{
        display: flex;
        justify-content: space-between;
    }
    .buttonforTabview{
    display: block;
    text-align: center;
    margin-top: 5%;
    }
    .buttonforTab1,
    .buttonforTab2{
        width: 92%;
        margin:1% 3%;
        border-radius: 30px;
        padding: 4% 1%;
        font-size: small;
    }
    .first-paragraph{
        display: none;
    }
    .buttonforTab1{
        color: #000000;
        background-color: white;
    }
    .buttonforTab2{
        background-color: #000000;
        color: white;
    }
    #tabNavIcon{
        padding-top: 12px;
     font-size: 26px;
    }
    .line-last-header-div{
        display: none;
    }
    .headingforTabView h1{
        padding: 0% 5%;
        margin: 15% 8% 0% 8%;
        font-size: 50px;
        color: transparent;
        -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: #000000;
    }
    .headingforTabView span{
        color: #000000;
    }
        /*div-under-the-first-two-in-one-container*/
    
    .div-under-the-first-two-in-one-container{
        padding: 4% 2% 5% 2%;
        font-weight: bold;
        background-color: black;
        color: white;
        font-size: 16px;
        display: none;
    }
    .div-under-the-first-two-in-one-container br{
        display: none;
    }
    .under-div-paragragh{
        padding:2% 0% 0% 5% ;
        line-height: 180%;
    }
    .div-under-the-first-two-in-one-container a{
        position: relative;
        left: 10%;
        color: white;
        bottom: 24px;
    }
    .main-second-container{
        display: block;
    }
    .second-container-first-div{
        width: 100%;
        text-align: center;
        margin: 18% 0% 0% 0%;
    }
    .services{
        border: 3px solid black;
        width: 24%;
        position: relative;
        left: 37%;
        font-weight: bolder;
        padding: 7px 4px  7px 4px;
        margin-top: 5%;
        margin-bottom: 4%; 
        display: none;
    }
    .second-container-first-div-h1{
        color: transparent;
        -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: #000000;
        font-size: 260%;
    }
    .growing-community-paragraph{
        font-weight: bold;
        line-height: 130%;
        margin:40px 14px;
    }
    .growing-community-paragraph br{
        display: none;
    }
    .Two-men-img{
        width: 55%;
        margin: 15% 2% 15% 2%;
        transform: rotate(-10deg);
        position: relative;
        left: 24.2%;
        border: 2px solid black;
    }
    .Two-men-img img{
        display: block;
    }
    .second-container-first-div-paragraph{
        font-size: 118%;
        padding: 5% 2% 8% 2%;
        font-weight: bold;
    }
    
    .second-container-first-div button{
        color: white;
        background-color: black;
        width: 50%;
        border-radius: 44px;
        height: 48px;
        font-weight: normal;
        font-size: medium;
        margin-top: 0%;
        margin-bottom: 4%;
        border: 2px solid black;
    }
    .growing-community button{
        width: 18%;
        border-radius: 44px;
        height: 48px;
        font-size: small;
        margin-top: 4%;
        margin-bottom: 6%;
        background-color: white; 
        border: 2px solid#000000;
        display: none;
    }
    .community{
        color: black;
        width: 9%;
        position: relative;
        left: 45%;
        border: 2px solid black;
        padding: 7px 4px  7px 4px;
        margin-top: 5%;
        margin-bottom: 2%; 
        font-size: larger;
        display: none;
    }
    .growing-community-h2{
        font-size: 180%;
        margin: 4% 0% 6% 0%;
    } 
    .growing-community-h2 br{
        display: none;
    }
    .links{
        display: none;
        padding: 5% 0% 5% 0%;
        justify-content: space-evenly;
    }
    .main-fourth-container{
        display: none;
    }
        /*under-fourth-two-in-one-container*/
    .under-fourth-two-in-one-container{
        background-color: black;
        color: white;
        text-align: center;
        padding: 6% 0% 6% 0%;
    }
    .yl-studio{
        border: 2px solid white;
        width: 35%;
        padding: 1.5% 1%;
        position: relative;
        left: 30%;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    #vinyl{
        font-size: 12px;
    }
    .under-fourth-two-in-one-container h2{
        margin-top: 30px;
        padding: 3.5% 1.5%;
        font-size: 35px;
    }
    .under-fourth-two-in-one-container h2 br{
        display: none;
    }
    
    .main-icons{
        width: 80%;
        display: flex;
        position: relative;
        left: 18%;
        margin-top: 60px;
    }
    .main-icon-one{
        background-color: darkcyan;
        z-index: 99;
    }
    .main-icon-two{
        background-color: khaki;
        border-radius: 70px;
        position: relative;
        right: 14px;
    }  
   
    .under-fourth-two-in-one-container p{
        margin: 4% 1%;
        font-size: 16px;
        word-spacing: 1px;
        line-height: 25px;
    }
    .under-fourth-two-in-one-container button{
        width: 92%;
        background-color: yellow;
        margin-top: 60px;
        height: 0px;
        padding: 4% 1% 8% 1%;
        border-radius: 40px;
        border: transparent;
        font-weight: 600;
        margin-bottom: 30px;
    }
        /* footer*/
    footer{
        background-color: black;
        padding: 18% 0%;
        margin-top: -1px;
        color: white;
        /* border: 2px solid magenta; */
    }
    footer a{
        color: white;
        text-decoration: none;
        padding: 2px;
        list-style: none;
    } 
    .footerSecondDiv,
    .footerFirstDiv,
    .footerFourthDiv,
    .footerThirdDiv{
        width: 50%;
    }
    .footerLinksFooterforTab a{
        line-height: 10px;
    }
    .footerlinks{
        display: block;
        justify-content: space-around;
    }
    .footerLinksFooterforTab{
        display: flex;
        margin-left: 7%;
    }
    .footerLinksFooterforTab2{
        margin-top: 10%;
    }
    .footer-last-line{
        display: block;
        justify-content: space-between;
        margin-top: 3%;
    }
    .footer-logo{
        width:85%;
        margin-left: 7%;
        padding-top: 3%;
        margin-bottom: 60px;
    }
    .iconsforDesktop{
        display: none;
    }
    
    .footer-social-icon{
        padding: 9% 3% 0% 0%;
        width: 99%;
    }
    .footerLastDiv{
        display: flex;
        padding: 0% 3%;
    }
    .tdms{
        display: none;
    }
    .tdmsforTab{
        position: relative;
        top: 10px;
        left: 34.5%;
    }
    .icons{
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
        margin-top: 90px;
    } 
}