*{
    margin: 0;
    padding: 0;
    font-family: 'Qratesis', 'Noto Sans JP', sans-serif;
}
img{
    width: 100%;
}
/*navbar*/
nav{
    display: flex;
    width: 97.8%;
    padding: 1%;
    font-size: medium;
    font-weight: 600;
}
.navlogo{
    width: 4%;
    padding: 1.5% 0% 0% 2%;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin: 2%;
}
.nav-first{
    width: 48%;
    margin: 2% 2% 2% 0%;
    gap: 3%;
    padding-left: 21%;
}
.nav-why-grates{
    width: 25%;
    padding-left: 1%;
}
.login-button{
    width: 22%;
    margin: 2% 2% 2% 4%;
    gap: 2%;
}
.button{
    width: 70%;
    position: relative;
    bottom: 4px;
}
nav  button{
   width: 100%;
   height: 40px;
   border-radius: 20px;
   border: transparent;
   color: white;
   background-color: black;
}
.login{
    padding-top: 2%;
}

/*header-first-section*/

.header-first-section{
    display: flex;
}

.header-text{
    width: 35%;
    padding: 1.5% 0% 0% 4%;
    position: relative;
    top: 200px;
}
.why-qrates{
    border: 2px solid black;
    width: 25%;
    text-align: center;
    padding: 5px 2px 5px 2px;
    margin-bottom:35px;
    font-weight: bold;
    font-size: small;
}
.header-text h1{
    font-size: 250%;
}
.header-paragraph{
    font-weight: bold;
    margin-top: 5%;
    font-size: larger;
}
.first-img{
    width: 49%;
    position: relative;
    left: 3%;
    top: 100px;
    border: 2px solid black;
    transform: rotate(7deg);
}
.first-img img{
    display: block;
}
.second-img{
    width: 43%;
    position: relative;
    left: 10%;
    bottom: 50px;
    transform: rotate(-6deg);
    border: 2px solid black;
    z-index: 99;
}
.second-img img{
    display: block; 
}
.header-second-section{
    display: flex;
    gap: 20%;
}
.sticker{
    position: relative;
    top: 220px;
   
}
.line-last-header-div{
    height: 1px;
    background-color: black;
    position: relative;
    bottom: 50px;
}

/* main*/
.first-paragraph{
    text-align: center;
    padding: 5% 2% 8% 2%;
    font-weight: bold;
}

.main-first-two-in-one-container{
    display: flex;
}
.crowdfunding{
    border: 2px solid black;
    background-color: yellow;
    width: 50%;
    text-align: center;
}
.press-and-sell{
    border: 2px solid black;
    background-color: #81836c;
    width: 50%;
    text-align: center;
}
.no-risk{
    padding: 2% 1% 2% 1%;
    width: 26%;
    border: 2px solid black;
    background-color: white;
    position: relative;
    left: 36%;
    margin: 15% 0% 5% 0%;
    font-size: small;
    text-align: center;
    font-weight: bold;
}
.crowdfunding-h2{
    font-size: 180%;
    margin-bottom: 5%;
}
.crowdfunding-paragragph{
    line-height: 160%;
}
.crowndfunding-img{
    width: 60%;
    margin: 6% 0% 12% 0%;
    position: relative;
    left: 20%;
}
.crowdfunding-button{
    width: 35%;
    height: 38px;
    color: white;
    background-color: black;
    border-radius: 30px;
    border: transparent;
    margin-bottom: 13%;
}


.get-into-it{
    padding: 2% 1% 2% 1%;
    width: 19%;
    border: 2px solid black;
    background-color: white;
    position: relative;
    left: 36%;
    margin: 15% 0% 5% 0%;
    font-size: small;
    text-align: center;
    font-weight: bold;
}
.press-and-sell-h2{
    font-size: 180%;
    margin-bottom: 5%;
}
.press-and-sell-paragragph{
    line-height: 160%;
}
.press-and-sell-img{
    width: 80%;
    margin: 8% 0% 12% 0%;
    position: relative;
    left: 13%;
}
.press-and-sell-button{
    width: 35%;
    height: 38px;
    color: white;
    background-color: black;
    border-radius: 30px;
    border: transparent;
    margin-bottom: 13%;
}

/*div-under-the-first-two-in-one-container*/

.div-under-the-first-two-in-one-container{
    padding: 3% 2% 5% 2%;
    font-weight: bold;
    background-color: black;
    color: white;
}
.under-div-paragragh{
    padding:2% 0% 0% 5% ;
    line-height: 180%;
}
.div-under-the-first-two-in-one-container a{
    position: relative;
    left: 75%;
    color: white;
    bottom: 24px;
}

/*third main section*/

.main-second-container{
    display: flex;
}
.second-container-first-div{
    width: 50%;
    text-align: center;
    margin: 18% 0% 0% 0%;
}
.services{
    border: 3px solid black;
    width: 24%;
    position: relative;
    left: 37%;
    font-weight: bolder;
    padding: 7px 4px  7px 4px;
    margin-top: 5%;
    margin-bottom: 4%; 
}
.second-container-first-div-h1{
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
    font-size: 260%;
}

.Two-men-img{
    width: 55%;
    margin: 15% 2% 15% 2%;
    transform: rotate(-10deg);
    position: relative;
    left: 24.2%;
    border: 2px solid black;
}
.Two-men-img img{
    display: block;
}
.second-container-first-div-paragraph{
    font-size: 118%;
    padding: 5% 2% 8% 2%;
    font-weight: bold;
}

.second-container-first-div button{
    background-color: white;
    color: black;
    width: 37%;
    border-radius: 44px;
    height: 48px;
    font-weight: bold;
    font-size: medium;
    margin-top: 1%;
    margin-bottom: 2%;
    border: 2px solid black;
}
/*ends here*/

/*accordion*/

.second-container-accordion{
    width: 46%;
    margin-top: 11%;
    margin-bottom: 12%;
}

.accordion{
    width: 95%;
    font-size: larger;
}

.accordion-section {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .accordion-title {
    background-color: #f9f9f9;
    padding: 40px 30px 40px 30px;
    cursor: pointer;
    user-select: none;
    border: 1px solid black;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #81836c;
    border: 1px solid black;
  }
  
  .accordion-content.show {
      padding: 10px;
      max-height: 300px; /* Adjust the max height as needed */
  }
  .accordion h1{
    background-color: #000000;
    color: white;
    width: 98%;
    font-size: 240%;
    padding: 4% 1% 4% 1%;
  }
  .accordion a{
    color: black;
    margin-top: 5px;
    font-weight: bolder;
    text-decoration: underline;
  }
  .accordion p{
    margin-bottom: 7px;
  }

  
/*accordion ends here*/

/*main last section*/
.main-third-container{
    text-align: center;
    padding-top: 12%;
    display: flex;

}
.main-third-container-first-div{
    background-color: #000000;
    color: white;
    width: 50%;
}

.mainLastOneImg{
    width: 90%;
}
.retail-network{
    background-color: white;
    color: black;
    width: 24%;
    position: relative;
    left: 37%;
    border: 3px solid black;
    padding: 7px 4px  7px 4px;
    font-weight: bolder;
    margin-top: 15%;
    margin-bottom: 4%;   
}

.main-third-container-first-div-h2{
    font-size: 250%;
    margin-bottom: 4%;
    padding-top: 1%;   
}
.main-third-container-first-div-paragraph{
    font-size: 120%;
}


.main-third-container-second-div{
    width: 50%;
    text-align: center;
    background-color:#e280ff;
}

.third-container-second-div-img{
    border: 2px solid black;
    margin: 10% 5% 0% 5%;
    margin-bottom: 15%;
}
.third-container-second-div-img img {
    display: block;
}

.CUSTOMER{
    background-color: white;
    color: black;
    width: 29%;
    position: relative;
    left: 37%;
    border: 3px solid black;
    padding: 7px 4px  7px 4px;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 4%;    
}

.main-third-container-second-div-h2{
    font-size: 250%;
    margin-bottom: 4%;
    padding-top: 1%;   
}



/*main last section ends here*/

/*growing community section*/
.growing-community{
    text-align: center;
}

.community{
    color: black;
    width: 9%;
    position: relative;
    left: 45%;
    border: 2px solid black;
    padding: 7px 4px  7px 4px;
    margin-top: 5%;
    margin-bottom: 2%; 
    font-size: larger;
}

.growing-community-h2{
    font-size: 180%;
    margin-bottom: 2%;
}
.growing-community-paragraph{
    font-weight: bold;
    line-height: 150%;
}

.growing-community button{
    width: 18%;
    border-radius: 44px;
    height: 48px;
    font-size: small;
    margin-top: 4%;
    margin-bottom: 6%;
    background-color: white; 
    border: 2px solid#000000;
} 
/*growing community section ends here*/


/*grid-container*/
.grid-container{
    display: grid;
    grid-template-columns: repeat( 10, 1fr);
    grid-template-rows:( 2, 200px);
}
.grid-item1{
    grid-area: 1/1/3/5;
    padding-top: 34%;
    background-color: #81836c;
}
.grid-item2{
    grid-area: 1/5/1/8;
}
.grid-item3{
    grid-area: 1/8/1/-1;
    background-color: yellow;
}
.grid-item4{
    grid-area: 2/5/3/8;
}
.grid-item5{
    grid-area: 2/8/3/-1;
    background-image: url(./images/qrates-imgs\ \(7\).jpg);
    background-size: cover;
}
.grid-item img{
    display: block;
}
.grid-item{
    border: 1.5px solid black;
}
/*grid-container ends here*/

/*links*/
.links a{
   color: black; 
   margin-left: 2%;
   font-weight: bold;
}
.links{
    display: flex;
    padding: 5% 0% 5% 0%;
}
/*links ends here*/

/* small mobile  devices*/
@media screen and (max-width: 480px) {
    .wrapper{
        display: none;
    }
}

/*  mobile  devices*/
@media screen and (max-width: 767px) {
    .wrapper{
        display: none;
    }
}

/*  small laptops  devices*/
@media (min-width: 768px) and (max-width: 1023px){
    .wrapper{
        display: block;
    }
}
/* large laptops  devices*/

@media (min-width: 1281px) and (max-width: 1440px){}