*{
    margin: 0;
    padding: 0;
    font-family: 'Qratesis', 'Noto Sans JP', sans-serif;
}
img{
    width: 100%;
}
/*navbar*/
nav{
    display: flex;
    width: 97.8%;
    padding: 1%;
    font-size: medium;
    font-weight: 600;
}
.navlogo{
    width: 4%;
    padding: 1.5% 0% 0% 2%;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin: 2%;
}
.nav-first{
    width: 48%;
    margin: 2% 2% 2% 0%;
    gap: 3%;
    padding-left: 21%;
}
.nav-why-grates{
    width: 25%;
    padding-left: 1%;
}
.login-button{
    width: 22%;
    margin: 2% 2% 2% 4%;
    gap: 2%;
}
.button{
    width: 70%;
    position: relative;
    bottom: 4px;
}
nav  button{
   width: 100%;
   height: 40px;
   border-radius: 20px;
   border: transparent;
   color: white;
   background-color: black;
}
.login{
    padding-top: 2%;
}

/*header-first-section*/

.header-first-section{
    display: flex;
}

.header-text{
    width: 35%;
    padding: 1.5% 0% 0% 4%;
    position: relative;
    top: 200px;
}
.why-qrates{
    border: 2px solid black;
    width: 25%;
    text-align: center;
    padding: 5px 2px 5px 2px;
    margin-bottom:35px;
    font-weight: bold;
    font-size: small;
}
.header-text h1{
    font-size: 250%;
}
.header-paragraph{
    font-weight: bold;
    margin-top: 5%;
    font-size: larger;
}
.first-img{
    width: 49%;
    position: relative;
    left: 3%;
    top: 100px;
    border: 2px solid black;
    transform: rotate(7deg);
}
.first-img img{
    display: block;
}
.second-img{
    width: 43%;
    position: relative;
    left: 10%;
    bottom: 50px;
    transform: rotate(-6deg);
    border: 2px solid black;
    z-index: 99;
}
.second-img img{
    display: block; 
}
.header-second-section{
    display: flex;
    gap: 20%;
}
.sticker{
    position: relative;
    top: 190px;
    height: 280px;
}
.line-last-header-div{
    height: 1px;
    background-color: black;
    position: relative;
    bottom: 50px;
}
